/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/cli
/storage/localhost*
/storage/docs/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
/deployment/compose-development/db
/deployment/compose-production/db
/deployment/open-street-map/nominatimdata
/deployment/open-street-map/osrm-data
.DS_Store
Packegs/
public/avatar/
.php_cs.cache
.phpunit.result.cache
